/*Admin Css*/
hr {
    margin: 20px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
#guesty_auto_sync_time {
    margin: 10px 0 5px;
}
/* Column width */
.wp-list-table .column-thumbnail {
    width: 100px;
}
.wp-list-table .column-guesty_icon {
    width: 100px;
}
.wp-list-table .column-sync_status {
	width: 100px;
}
.wp-list-table .column-region {
	width: 170px;
}
.wp-list-table .column-floor_plan {
	width: 200px;
}
.guesty-copy-shortcode {
    cursor: pointer;
    background: #f0f0f1;
    padding: 3px 6px;
    display: inline-flex;
    font-weight: bold;
}
.guesty-copy-msg {
    margin-left: 5px;
    color: #2271b1;
    font-weight: 600;
}

.guesty-table th,
.guesty-table td {
	vertical-align: middle;
}

.cssProgress {
    width: 100%;
    margin: 20px 0;
}
.cssProgress .progress {
	position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #DDD;
    border-radius: 10px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.cssProgress .cssProgress-bar {
    height: 20px;
    border-radius: 10px;
	display: block;
    float: left;
    width: 0%;
    background: #3798d9;
    box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1);
    transition: width 0.8s ease-in-out;
}
.cssProgress .cssProgress-active, .cssProgress .cssProgress-stripes {
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.125) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.125) 50%, rgba(255, 255, 255, 0.125) 75%, transparent 75%, transparent);
    background-size: 35px 35px;
}
.cssProgress .cssProgress-active {
    -webkit-animation: cssProgressActive 2s linear infinite;
    animation: cssProgressActive 2s linear infinite;
}
.cssProgress .cssProgress-success {
    background-color: #66bb6a !important;
}
.cssProgress .cssProgress-label {
    position: absolute;
    overflow: hidden;
    left: 0px;
    right: 0px;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
}
@keyframes cssProgressActive {
    0% { background-position: 0 0; }
    100% { background-position: 35px 35px; }
}

/*Properties gallery css*/
#property_gallery h2.hndle {
    justify-content: flex-start;
    gap: 10px;
}
#poststuff .inside {
    margin: 12px 0 0;
}
.property-gallery-list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 0;
	margin: 0;
}
.property-gallery-list li {
	list-style: none;
	width: 126.6px;
	height: 126.6px;
	overflow: hidden;
	border: 1px solid #ddd;
	background: #f7f7f7;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}
.property-gallery-list img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
ul.guesty_amenities {
    margin: 0;
    column-count: 5;
    list-style: decimal;
    padding-left: 15px;
}


.note {
    font-weight: 600;
    margin-bottom: 10px;
}
.guesty-drag-box {
	display: flex;
	gap: 20px;
}
.item-column {
	flex: 1;
	background: #f6f7f7;
	border: 1px solid #dcdcde;
	padding: 10px;
}
.item-column h4 {
	margin-top: 0;
}
.item-sortable-list {
	min-height: 100px;
	list-style: none;
	padding: 0;
	margin: 0;
	border: 1px dashed #ccc;
	height: calc(100% - 40px);
}
.sort-item {
	background: #fff;
	border: 1px solid #c3c4c7;
	margin: 5px;
	padding: 8px 12px;
	cursor: grab;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	gap: 5px;
    display: flex;
}
.sort-item:hover {
	background: #f0f0f1;
}
.highlight {
	border-color: #2271b1;
	background: #f0f6fa;
}
.ui-state-highlight {
	height: 35px;
	margin: 5px;
	border: 1px dashed #2271b1;
	background: rgba(34, 113, 177, 0.08);
}
#all-regions .dashicons,
#all-properties .dashicons,
#available-amenities .dashicons {
	display: none;
}

.room-items-container {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
.room-card {
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff;
    width: calc(25% - 31px);
	min-height: 130px;
}
.room-card.room-disabled {
    background-color: #f6f7f7;
    opacity: 0.6;
}
.room-card h4 {
	margin: 0;
}
.room-card .image-preview {
    display: grid;
	img {
		margin-bottom: 10px;
	}
}